
UnityPackageManager/manifest.json
Temp/ProjectSettings/ProjectVersion.txt
packages/manifest.json
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache/
Library/ScriptMapper
Library/ScriptAssemblies/
Library/metadata/
Library/EditorInstance.json
Library/assetDatabase3
fmod_editor.log
Assets/Project Alpha/Levels/TemplateLevel/Prefab.meta
Assets/Project Alpha/Levels/Placeholder Prefabs/LevelsPrefabs.meta
Assets/Project Alpha/Levels/LevelScenes.meta
Assets/Project Alpha/Levels/LevelDesign.meta
Assets/Plugins/WindowsCredentialManagement/Editor.meta
Assets/Plugins/UniGit/Editor.meta
Assets/Plugins/LibGit2Sharp/Editor/NativeBinaries/x86.meta
Assets/Plugins/LibGit2Sharp/Editor/NativeBinaries/amd64.meta
Assets/CorgiEngine/
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj